.cuadro{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 200px;
  margin: 1rem auto;
  border-radius: 11px 11px 0 0 ;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.64);
}

.container{
  display: flex;
  place-content: center;
  flex-direction: column;
}
.container button{
  width: 50%;
  margin: 0 auto;
  border: none;
  background-color: #333;
  padding: 1rem ;
  border-radius: 11px;
  color: white;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: bold;
}
.current {
  width: 90%;
  margin: 0 auto;
  height: 100px;
  border-radius: 0 0 11px 11px;
}
